*.sys
*.gnu
*.cf_gnu
*.gnu.s
*.cf_gnu.s
*.cf_gnu.se
*.gnue
*.ino
*.inf
*.acc
*.prg
*.exe
*.map
*.o
*.a
depend
.deps
fvdi/utility/conv2gas/conv2gas
fvdi/utility/structer/structer
struct.tab.c
struct.tab.h
lex.yy.c
fvdi.includes
fvdi.files
fvdi.config
fvdi.creator*
