# To be included after the SINCSRC and SSRC are defined

CONV2GAS = $(top_srcdir)/utility/conv2gas/conv2gas

SYMBOLS = --defsym gas=1 --defsym lattice=0
ifeq ($(CPU),000)
	SYMBOLS += --defsym mc68000=1 --defsym mcoldfire=0
else ifeq ($(CPU),v4e)
ifeq (, $(shell which pacf))
    $(info ***)
    $(info *** No pacf in $$(PATH), compiling for ColdFire requires)
    $(info *** an installation of MicroAPL's PortAsm)
    $(info *** (see http://microapl.com/downloads.html))
    $(info ***)
    $(error )
endif
	SYMBOLS += --defsym mc68000=0 --defsym mcoldfire=1
else
	SYMBOLS += --defsym mc68000=0 --defsym mcoldfire=0
endif
ifeq ($(DEBUG),yes)
	SYMBOLS += --defsym FVDI_DEBUG=1
else
	SYMBOLS += --defsym FVDI_DEBUG=0
endif


# Use native compiler when cross compiling
$(CONV2GAS): $(top_srcdir)/utility/conv2gas/conv2gas.c
	$(MAKE) -C $(top_srcdir)/utility/conv2gas

SINCSRC_GNU = $(SINCSRC:=.gnu)
SSRC_GNU    = $(SSRC:=.gnu)

# special treatment for ColdFire target (uses Micro APL's PortAsm to convert the sources for ColdFire)
ifeq ($(CPU),v4e)
PORTASM = pacf
PORTASM_FLAGS = \
	-blanks on  \
	-case on \
	-core v4 \
	-branch_external_long \
	-hardware_divide \
	-hardware_mac \
	-implicit_externs \
	-a gnu \
	-gnu_locals \
	-out_syntax standard \
	-nowarning 402,502,600,900,1111,1150 \
	-noerrfile

# externally defined assembler symbols syntax to pacf style
PACF_SYMBOLS = $(subst --defsym,-define,$(SYMBOLS))
PORTASM_FLAGS += $(PACF_SYMBOLS)

# include paths. Better pass a variable suitable for gas _and_ pacf from toplevel?
PORTASM_INCLUDE = -i $(top_srcdir)/include,$(top_srcdir)/drivers/include,$(top_srcdir)/drivers/1_plane

# intermediate filenames for PortAsm output
SSRC_GNU_CF := $(subst .gnu,.cf_gnu,$(SSRC_GNU))

# dependencies for include files and PortAsm converted sources
$(SINCSRC_GNU): $(SINCSRC)
$(SSRC_GNU):$(SSRC_GNU_CF)

# pattern rule for assembler sources (traditional assembler to gas syntax)
# after conversion, move result file to the name originally expected
%.cf_gnu: $(basename %.gnu) $(CONV2GAS)
	$(AM_V_GEN)$(CONV2GAS).sh $<
	$(AM_V_at)mv $<.gnu $@

# assembler includes only need to go through conv2gas
# (will be milled through PortAsm with the sources they include them)
%.inc.gnu: $(basename %.inc.gnu) $(CONV2GAS)
	$(AM_V_GEN)$(CONV2GAS).sh $<

# assembler source files processed by PortAsm pacf (gas m68k sources to ColdFire).
# need to delete one line with a section statement that m68k-atari-mint-as doesn't translate
%.gnu:%.cf_gnu
	$(AM_V_GEN)$(PORTASM) $(PORTASM_FLAGS) $(PORTASM_INCLUDE) -o $@ $<
	$(AM_V_at)sed -ie '/\.section/d' $@
else

# straight m68k to gas syntax conversion
%.gnu: $(basename %.gnu) $(CONV2GAS)
	$(AM_V_GEN)$(CONV2GAS).sh $<
endif


# Assember for .gnu
%.gnu.o: %.gnu
	$(AM_V_AS)$(AS) $(ASFLAGS) $(SYMBOLS) -o $@ $<

clean_gnu:
	$(RM) $(SINCSRC_GNU) $(SSRC_GNU) $(SSRC_GNU_CF) $(SSRC_GNU:.gnu=.gnue)
